body {
  min-width: 100vw;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}
header {
  height: 100vh;
  width: 100vw;

  background-image: url('images/header_cover.jpg');
  background-size: cover;
}

.btn-primary {
  background-color: #1aa179;
  border: 0px;
  font-weight: lighter;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #0d503c;
}

.body__header {
  margin-top: 5em;
}

.primary__text {
  color: #1aa179;
}

.card {
  border-radius: 3%;
  overflow: hidden;
}

.card-body {
  height: 220px;
}

#image_recipe {
  border-radius: 30px;
  width: 100%;
  height: 400px;

  object-fit: cover;
}

.card-img-top {
  height: 200px;
}

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 767.98px) {
  .recipe_not_found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer__copyright {
    display: flex;
    justify-content: center;
    padding-block: 4em;
  }
  #search_recipe {
    margin-top: 10px;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .recipe_not_found {
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .footer__copyright {
    display: flex;
    justify-content: space-between;
    margin-block: 4em;
  }
  #search_recipe {
    margin-inline: 1em;
  }
}
